body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #252850;
}

main{
    width: 1920px;
    height: 945px;
    box-sizing: border-box;
    border: 1px solid white;
    position: relative;
}