body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #4B5348, #252850);
    background-color: #4B5348;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

main{
    width: 1120px;
    height: 945px;
    box-sizing: border-box;
    position: relative;
}


.fondo{
    background: #4B5348;
    width: 100%;
    height: 600px;
    position: absolute;
    bottom: 0;
    border-radius: 35% 35% 0 0;
}

.torre{
    position: absolute;
    top: 150px;
    left: 460px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.torreimg{
    width: 100%;
    height: 100%;
}

.estrellas{
    position: absolute;
    object-fit: cover;
    left: 290px;
    top: 150px;
}

.luna{
    position: absolute;
    width: 242px;
    height: 142px;
    object-fit: cover;
    left: 650px;
    top: 80px;
}

.cantante1{
    position: absolute;
    width: 200px;
    height: 300px;
    object-fit: cover;
    left: 380px;
    top: 350px;
}

.mujer{
    position: absolute;
    left: 550px;
    top: 410px;
}

.fogata1{
    position: absolute;
    left: 460px;
    top: 480px;
    cursor: pointer;
}

.personas_izquierda{
    position: absolute;
    left: 220px;
    top: 400px;
    object-fit: cover;
    height: 402px;
}
.personasimgiz{
    width: 100%;
    height: 100%;
}

.personas_derecha{
    position: absolute;
    left: 625px;
    top: 400px;
    object-fit: cover;
    height: 402px;
}

.personasimgder{
    width: 100%;
    height: 100%;
}

.perro1{
    position: absolute;
    left: 300px;
    top: 670px;
    object-fit: cover;
    width: 470px;
}

.perro1img{
    width: 100%;
    height: 100%;
}

.galletas{
    position: absolute;
    left: 650px;
    top: 700px;
    object-fit: cover;
    height: 90px;
}

.galletasimg{
    width: 100%;
    height: 100%;
}

.malvaviscos{
    position: absolute;
    left: 270px;
    top: 730px;
    object-fit: cover;
    height: 90px;
}

.malvaviscosimg{
    width: 100%;
    height: 100%;
}

.hora{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.fecha{
    position: absolute;
    top: 670px;
    left: 470px;
    color: #fff;
    font-size: 1.5rem;
}

.titulo{
    position: absolute;
    color: #fff;
    left: 370px;
    top: 20px;
    text-transform: uppercase;
    background: #353a7e;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 50px #000;
}